*,
*:after,
*:before {
    box-sizing: border-box !important;
}

footer {
    padding: 3rem 1.5rem;
    font-size: 0.75rem;
    color: whitesmoke;
    a {
        color: whitesmoke;
    }
}

aside {
    position: fixed;
    width: 20%;
    padding: 50px;
    background-color: white;
    height: 100vh;
}

.main {
    margin-left: 20%;
    padding: 50px;
}

hr {
    background-color: $grey-lighter;
}
.columns {
    flex-wrap: wrap;
}
pre {
    padding: 0.75rem;
}
hr {
    height: 1px;
}

.table td,
.table th {
    vertical-align: middle;
}
.avatar,
.avatar-round {
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        &:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: calc((1 / 1) * 100%);
        }
    }
}
.avatar-round {
    width: 50px;
    height: 50px;
    img {
        border-radius: 50%;
    }
}

.parallax {
    background-image: url("https://i.pinimg.com/originals/57/95/80/579580e3806dc333769e143a04e2d765.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.px-is-home,
.px-is-presentation,
.px-is-equipe,
.px-is-horaires,
.px-is-tarifs,
.px-is-calendrier,
.px-is-resultats,
.px-is-galerie {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h1 {
            color: white;
        }
    }
}
.px-is-home {
    height: 70vh;
}
.px-is-presentation,
.px-is-equipe,
.px-is-horaires,
.px-is-tarifs,
.px-is-calendrier,
.px-is-resultats,
.px-is-galerie {
    height: 30vh;
}

.px-is-footer {
    height: auto;
}

table {
    td,
    th {
        text-align: center;
    }
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.menu-list ul li {
    margin-top: 0;
    margin-bottom: 0;
}
